.login{
    background-color: #801336;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container{
    padding: 100px;
    text-align: center;
    background-color: #151515;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: none;
    color: #c02739;
}

.login_container > img{
    object-fit: contain;
    height: 75px;
    margin-bottom: 20px;
}

.login_container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #c02739 !important;
    color: white;
}